/* Polices
Logo et titres: Shrikhand
Texte: Roboto

Couleurs Primaire Secondaire Tertiaire
#9356DC
#FF79DA  rose
#99E2D0 */


/* .coeur
{
  right: 10%;
  position: relative;

}
.fas
{
  color: transparent;
}
.far, .fas {
  position: absolute;
  left: 0;
  top:0;
  color: inherit;
}
.fas
{

  transform-origin: bottom;
}
.fa-heart{
  position: absolute;
  font-size: 25px;
}
.fas.fa-heart{
  transition-duration: 2500ms;
  transition-property: color transform;
  color: red;
  transform: scale(0);
}
.coeur:hover .fas {
  transform: scale(1);
  background-image: linear-gradient(red, orange);
} */

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

/* HEADER */
a {
  text-decoration: none;
}



header {
text-align: center;
}

header #logo h1 a{
  font-family: 'Shrikhand', cursive;
  font-size: 34px;
  color: black;
  font-weight: lighter;
}
 
header #logo a {
  text-decoration: none;
}

header .lieu {
  height: 70px;
  background-color: #eaeaea;
  padding: 5px;
}

header .lieu p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

header .fas {
  font-size: 20px;
  padding-right: 5px;
}

header .accueil{
background-color: #f6f6f6;
padding: 10px;
padding-bottom: 50px;
}

header .accueil .reservation {
  font-size: 28px;
  font-weight: bold;
}

header .accueil .decouverte {
  margin-bottom: 40px;
  font-size: 20px;
}

header .accueil .explorer {
  border: 0;
  padding: 17px 30px;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg,rgba(147, 86, 220, 0.9),rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  margin-top: 20px;
}


/* MAIN */



main h1 {
padding-left: 15px;
font-size: 25px;
}

.picture {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* MENU */
.menu {
  background-color: #F2F2F2;
  margin-top: -4em;
  padding: 40px 8px;
  border-radius: 20px 20px 0 0;
  position: relative;
}

.menu .fa-heart {
  font-size: 1.8em;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
  background-color: #FFF;
  border: 1px solid #F2F2F2;
  border-radius: 15px;
  position: relative;
  margin: 12px 0;
  height: 75px;
  box-shadow: 0 5px 5px lightgrey;
}

.menu__content a {
  position: absolute;
  left: 90%;
  text-align: right;
  padding-right: 16px;
  padding-top: 45px;
}

/* FONCTIONNEMENT */

main .fonctionnement .operation li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px;
  margin: 15px 20px 15px 5px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
  }

main .fonctionnement .operation li p {
    font-weight: 500;
    margin-left: 20px;
  }

main .fonctionnement .operation li:hover {
    background: #f2eafb;
  }

main .fonctionnement .operation li:hover .fas {
    color: #9356dc;
  }

main .fonctionnement .operation .operation-number {
    background-color: #9356dc;
    color: white;
    border-radius: 50%;
    padding: 4px 9px;
    margin-left: -20px;
  }

main .fonctionnement .operation .operation__steps--icon {
    color: grey;
    font-size: 1.2rem;
    margin-left: 20px;
  }

/* RESTAURANTS  */


  #restaurants {
    width: 100%;
    background-color: #F6F6F6;
    display: flex;
    flex-flow: row wrap;
  }

  #restaurants h1 {
    margin-right: 98%;
  }

  #restaurants .card {
    width: 45%;
    margin: 2%;
  }
  .card {
    border: 1px solid #000;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 5px 5px lightgrey;
    background-color: #FFF;
    position: relative;
  }
  
  .card_img {
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 75%;
    object-fit: cover;
  }

  #restaurants .card .card_content .content_name {
  color: black;
  line-height: 3px;
  }

  #restaurants .card .card_content .content_name .large {
  font-weight: bold;
    }

  #restaurants .card .card_content .content_name .light {
    font-size: 15px;
      }

  .card_new {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 25px;
    background: #99E2D0;
    color: #278870;
    display: flex;
    align-items: center;
    font-weight: bolder;
    text-align: center;
    display: block;
    padding-top: 10px;
  }
  
  .card_content {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-left: 10px;
  }
  
  .content_heart {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content_heart .fa-heart {
    position: absolute;
    align-items: center;
    font-size: 1.3em;
  }

/* FOOTER */

footer {
  background-color: #353535;
  height: 200px;
  margin-top: 10px;
  color: whitesmoke;
  padding-left: 20px;
  font-weight: bold;
  line-height: 10px;
}

footer h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 17px;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: lighter;
}

footer a {
  color: whitesmoke;
  text-decoration: none;
}