/* Polices
Logo et titres: Shrikhand
Texte: Roboto

Couleurs Primaire Secondaire Tertiaire
#9356DC
#FF79DA
#99E2D0 */

body {
  margin: 0;
}

/* HEADER */

header {
text-align: center;
}

header #logo a {
  font-family: "Shrikhand", cursive;
  font-size: 35px;
  text-decoration: none;
  color: black;
}

header .lieu {
  height: 70px;
  background-color: #eaeaea;
  padding: 5px;
}

header .lieu p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
header .fas {
  font-size: 20px;
  padding-right: 5px;
}


/* MENU HAUT */

header .menuhaut{
background-color: #f6f6f6;
padding: 10px;
line-height: 2px;
}

header .menuhaut .reservation {
  font-size: 30px;
  font-weight: bold;
}

header .menuhaut .decouverte {
  margin-bottom: 40px;
  font-size: 20px;
}

header .menuhaut .explorer {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg,rgba(147, 86, 220, 0.9),rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  margin-top: 20px;
}


/* MAIN */

main .fonctionnement {
display: flex;
flex-direction:row;
}

/* FOOTER */

footer {
  background-color: #353535;
  height: 200px;
  margin-top: 1000px;
}
